<p>
	Access Token: <%= @user.access_token %>
</p>

<p>
	First Name: <%= @user.first_name %>
</p>

<p>
	Last Name: <%= @user.last_name %>
</p>

<p>
	User Name: <%= @user.username %>
</p>

<p>
	Gender: <%= @user.gender %>
</p>

<%= link_to "Back", users_path%>